





<footer>
    <div class="main-footer">

        <div class="chatnow">
            
            <a href="/whatsapp"> <img src="/images/whatsapp-min.png" alt=""></a>
        </div>
        <div class="logo-box">
            <img src="/images/logo.png" alt="">
        </div>
        <div class="subscribe-email-form">
            <form action="/submit-email" method="post">
                <input type="email" placeholder="Enter your email" required>
                <button type="submit" class="btn btn-2">Subscribe</button>
            </form>
        </div>
        <nav>
            <ul class="section-center">
                <li class="nav-items"><a href="/home">Home</a></li>
                <li class="nav-items"><a href="/youtube">Youtube Creations</a></li>
                <!-- <li class="nav-items"><a href="/services">Services</a></li> -->
                <li class="nav-items"><a href="/about">About</a></li>
                <li class="nav-items"><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <aside class="social-menu">
            <ul class="section-center">
                <li><a href="/facebook"><i class="bi bi-facebook"></i></a></li>
                <li><a href="/whatsapp"><i class="bi bi-whatsapp"></i></a></li>
                <li><a href="/instagram"><i class="bi bi-instagram"></i></a></li>
                <li><a href="/linkedin"><i class="bi bi-linkedin"></i></a></li>
            </ul>
        </aside>
        <p class="copyright">
            &copy; 2024 Akash. All rights reserved. Designed by <a href="/contactme">Vishwajeet kumar</a>
        </p>
    </div>
   
</footer>





<script src="/javascript/app-min.js"></script>
</body>
</html