<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore the portfolio of AKash Kumar, a versatile YouTuber, photographer, and content creator. Discover captivating videos, stunning photography, and engaging written content.">
<meta name="keywords" content="AKash Kumar, YouTuber portfolio, Photography portfolio, Content creator portfolio, YouTube videos, Professional photographer, Creative content writer, Visual storytelling, Video production, Photography services, Content creation, Multimedia artist, Digital content portfolio, Social media influencer, Lifestyle photography, Travel vlogs, Cinematic videos">
<meta name="author" content="Kash Kumar">

    <title>Akash kumar 
        <% if (locals.title) { %>
         <%= locals.title %>
        <% } %>
       </title>
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
       <link rel="stylesheet" href="/css/landingpage-min.css">
       <% if (locals.title) { %>
       <link rel="stylesheet" href="/css/style-min.css">
       <% } %>
</head>
<body>
    
    
   
    
