

    <nav class="navBar d-flex" id="navBar">
        <div class="logo-box">
            <img src="/images/logo.png" alt="">
        </div>

        <span class="toggle-button open-button"><i class="bi bi-list"></i></span>
        <span class="toggle-button close-button"><i class="bi bi-x-lg"></i></span>
        <ul class="navMenu ">
            <li class="nav-items"><a href="/home">Home</a></li>
            <li class="nav-items"><a href="/youtube">Youtube Creations</a></li>
            <!-- <li class="nav-items"><a href="/services">Services</a></li> -->
            <li class="nav-items"><a href="/about">About</a></li>
            <li class="nav-items"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
