<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<div style="height:7rem;"></div>
<main>
    <section class="main-content section-center">
        <article class="about-img-container">
            <img src="/images/photo-about.jpg" alt="">
        </article>
        <div class="about-text-body">
            <h1 class="section-title">Akash Kumar</h1>
            <h5>A little more about me</h5>
            <p>A graduate from Delhi University currently pursuing a BCom (Hons) degree. Throughout my academic journey, I've not only focused on my studies but also actively participated in various extracurricular activities. One of my passions is dance, and I'm proud to say that I've participated in and won several dance competitions.</p>

              <p>  In addition to my academic and dance pursuits, I have a strong passion for content creation. I possess a deep knowledge of content writing and have honed my skills in crafting compelling and engaging pieces across various formats, including articles, blogs, and social media posts.</p>
                
             <p>   Moreover, I am an experienced YouTuber with expertise in video creation. I create high-quality, engaging videos that resonate with my audience. My proficiency in video production, editing, and storytelling ensures that my content stands out and captures the attention of viewers.</p>
              
                
                
                
                
                
              
        </div>
        <div class="circle-box-collection">
            <div class="resume"><a href="/images/cv.pdf" download="cv">Resume</a></div>
            <div class="youtube"><a href="/youtube">Youtube</a></div>
            <div class="personal"><a href="/home">Personal</a></div>
            <div class="icollaboration"><a href="/collaboration">Let's  work together</a></div>
            

        </div>
    </section>
    <section class=" education-section">
        <h2 class="section-title section-center">
            My Educational Qualifications
        </h2>
       <div class="section-center education-card-box">
        <div class="education-card">
            <article class="edu-img-container">
                <img src="/images/edu1.png" alt="">
            </article>
            <h3 class="section-title">Delhi University</h3>
            <p>BCom (Hons) in Communication Studies</p>
            <p>Year of Graduation: 2025</p>
        </div>
        <div class="education-card">
            <article class="edu-img-container">
                <img src="/images/edu2.svg" alt="">
            </article>
            <h3 class="section-title">Kendriya Vidayalaya</h3>
            <p>Intermediate in Commerce</p>
            <p>Year of Passing: 2022</p>
        </div>
        <div class="education-card">
            <article class="edu-img-container">
                <img src="/images/edu3.png" alt="">
            </article>
            <h3 class="section-title">DAV Public School</h3>
            <p>Matriculation in Science</p>
            <p>Year of Passing: 2020</p>
        </div>
       </div>
     
    </section>


</main>



<%-include('partials/footer.ejs') %>