<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<div style="height:7rem;"></div>
<div class="contactpage">
    <h1 class="interactive-title section-title">Get in Touch with me</h1>

<section class="contact-info section-center">
    <p>Feel free to reach out to me through the form below or via my social media channels.</p>
</section>
<section class="contact-form section-center">
    <div id="formResponse"><% if (locals.response) { %>
   <span>  <%= locals.response %>! Your response has been submitted we will reach you soon</span>
    <% } %></div>
    <form id="contactForm" class="section-center" action="/contactform" method="post">
        <div id="feedback"></div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">

        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <label for="phone">Phone:</label>
        <input type="number" id="phone" name="phone">

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="5"></textarea>

        <button type="submit" class="btn btn-2">Send</button>
    </form>
    
</section>

</div>


<script>
    let contactForm = document.querySelector("#contactForm");
contactForm.addEventListener("submit",(e)=>{
   
    e.preventDefault();
    let name = document.querySelector("#name").value.toString();
    let email = document.querySelector("#email").value.toString();
    let message = document.querySelector("#message").value.toString();
    let phone = document.querySelector("#phone").value
    let feedback = document.querySelector("#feedback");
    let regEXP = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
    
    if (name.trim() ==="" || email.trim() ==="" || message.trim() ==="" || phone.trim() ==="") {
        
        feedback.innerText="Please enter valid details";
        return false;
    }
    else if( !email.match(regEXP)){
      
            feedback.innerText="Please enter valid email";
            return false;
        }

        feedback.innerText="";
       
       contactForm.submit();
        return true;

});
</script>


<%- include('partials/footer.ejs') %>