

<%- include('partials/header.ejs') %>
    <header>
    
        <%- include('partials/navbar.ejs') %>
        
<section class="hero-section">
    <div class="hero-text">
        <h3>Hi, I'm</h3>
        <h2>Akash Kumar</h2>
        <p>As a YouTuber, I create engaging and informative content that entertains, educates, and inspires. Explore my channel to join me on exciting adventures, deep dives into fascinating topics, and behind-the-scenes looks at my creative process. Let's embark on this journey together</p>
    </div>

    <div class="btn-group">
        <a href="/youtube" class="btn btn-2" >Watch Videos</a>
        <a href="/home" class="btn btn-1" >View More</a>
    </div>
</section>
</header>

<script src="/javascript/app.js"></script>
</body>
</html>




