<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
<div style="height:7rem;"></div>
<main>
    <div class="wrapper">
<section class="youtube-intro section-center d-flex">
    <div class="img-yt-img">
        <img src="images/yt-logo.jpg" alt="" srcset="">
    </div>
    <div class="yt-intro-text d-flex">
        <h1>Tera Yaar Akash Kumar</h1>                                          
        <p>@TeraYaarAkashKumar
            ‧
            1.69K subscribers
            ‧
            161 videos</p>
            <p>The motive of this channel is to entertain you..Keep loving, keep supporting.❤
            </p>
            <a href="/subscribe" class="btn btn-2 subscribe-btn">Subscribe Now</a>
    </div>

</section>
</div>
<!-- For you section starts here-->
<section class=" section-center">
    <h2 class="section-title">Videos</h2>
    <div class="main-carousel carousel-1">
    <div class="video-card-box videos-section ">
    <div class="videos-card">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/VxTdzhoDay8?si=1s8gd0Narv0Xx84y" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>

        <h3 class="videos-card-title">
            Mahiye Jinna Sohna Official Lyrical Video | Darshan Raval |Youngveer | Dance Cover</h3>
    </div>
    <div class="videos-card">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/SkblI-QNxrY?si=HeZ-lHdtPvjjspvk" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen  loading="lazy"></iframe>

        <h3 class="videos-card-title">
Sanam Teri Kasam | viral scene🤍 | Short film #sanamterikasam #shorts #short #viral #new</h3>
    </div>
    <div class="videos-card">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/3OIS_xa-_D8?si=ZXWGf8SLRCa1eLPF" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>

        <h3 class="videos-card-title">
            Ramayan Skit Performance - Hanuman Ji 🕉 | Delhi University ❤ | Dyal Singh College</h3>
    </div>
    <div class="videos-card">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/3klodwzmGDg?si=DLSLgFYASu8FUjC2" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>

        <h3 class="videos-card-title">
            Delhi University | South Campus | IIT Kanpur | Dance Competition | Solo</h3>
    </div>
    <div class="videos-card">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/Hr3s-HqqYhE?si=h9fY3cYa7RaIV7cs" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>

        <h3 class="videos-card-title">
            Kajra re dance video | tujhse milna purani delhi mei #dancevideo #shorts</h3>
    </div>
    <div class="videos-card">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/uZtfYHF3IQY?si=9ilGLa8c_0f45oir" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>

        <h3 class="videos-card-title">
            Dildaara - Dance Cover | Choreography | Akash Kumar</h3>
    </div>

    <div class="load-more-btn">
        <a href="/subscribe" class="btn btn-2">See More</a>
    </div>
</div>
<div class="carosoul-left direction"><i class="bi bi-arrow-left-circle"></i></div>
<div class="carosoul-right direction"><i class="bi bi-arrow-right-circle"></i></div>
</div>
   


</section>
<!-- For you section end here-->
<!-- videos  section starts here-->

<!-- videos  section ends here-->
<section class="section-center">
    <h2 class="section-title">For You</h2>
    <div class="main-carousel carousel-2">
    <div class="video-card-box videos-section ">
    <div class="videos-card">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/AKzmueaJ74c?si=wyt1LkVuxwJ47b0Z" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>
        <h3 class="videos-card-title">
            Lockdown Mein Shadi | Indians and Wedding | Wedding Dance | Vlog | Tera Yaar Akash Kumar</h3>
    </div>
    <div class="videos-card">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/qZ9cEBPxwwI?si=vLxNirFwheSUvvNc" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>
        <h3 class="videos-card-title">
            Love Story | Ek Ladki Ko Dekha Toh Aisa Laga | Darshan Raval | A short Story |Dance | Akash Kumar</h3>
    </div>
    <div class="videos-card">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/eeR-hBgBEo8?si=2Cs1BoItXEIlm0-0" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>
        <h3 class="videos-card-title">
            Raataan Lambiyan - Pehla Nasha | Mashup song | Dance Choreography | Tera Yaar Akash Kumar</h3>
    </div>
</div>
</div>


</section>
<!-- Popular Videos starts here-->
<section class="section-center">
    <h2 class="section-title">Popular Videos</h2>
    <div class="main-carousel carousel-3">
    <div class="video-card-box videos-section ">
    <div class="videos-card">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/VxTdzhoDay8?si=FffTdjVebKVTals8" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>
        <h3 class="videos-card-title">
            Mahiye Jinna Sohna Official Lyrical Video | Darshan Raval |Youngveer | Dance Cover</h3>
    </div>
    <div class="videos-card">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/WT4M9LF7deU?si=EOg6AT6U8wItpzzt" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>
        <h3 class="videos-card-title">
            Best Mashup Dance|old + new songs|Dance choreography</h3>
    </div>
    <div class="videos-card">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/CwBwXpVvhRs?si=lO9J_BQ1BfokVfBe" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>

        <h3 class="videos-card-title">
            Raataan Lambiyan - Jubin Nautiyal | Dance Choreography | Akash Kumar</h3>
    </div>
    <div class="videos-card">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/lmp7M8fJgoU?si=LIYkkBkAVQPoluHl" title="YouTube video player" frameborder="0" allow="accelerometer;clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>

        <h3 class="videos-card-title">
            Tere Naam | Milan Tank | Susant khatri | Dance style | Salman khan | Akash Kumar</h3>
    </div>
    <div class="videos-card">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/n7Xn5GQ7txE?si=6L8k1404_Nt-SqBx" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>

        <h3 class="videos-card-title">
            #gandhijayanti 26 JANUARY/ INDEPENDENCE DAY DANCE/PATRIOTIC MASHUP/EASY STEPS/AKASH</h3>
    </div>

   
    <div class="load-more-btn">
        <a href="/subscribe" class="btn btn-2">See More</a>
    </div>
</div>
<div class="carosoul-left direction"><i class="bi bi-arrow-left-circle"></i></div>
<div class="carosoul-right direction"><i class="bi bi-arrow-right-circle"></i></div>
</div>
</section>
<!-- Popular Videos ends here-->
<!-- playlist Videos starts here  -->
<section class="section-center">
    <h2 class="section-title">Playlists</h2>
    <div class="main-carousel carousel-4">
  <div class="video-card-box videos-section ">
    <div class="videos-card">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/videoseries?si=80JWsISs_SjRllLi&amp;list=PLRnMvTnIta9j6XJDpn3BGGrlSIjOeBuLP" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" loading="lazy" allowfullscreen></iframe>
        <h3 class="videos-card-title">
            Dance Shorts</h3>
    </div>
    <div class="videos-card">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/videoseries?si=xpHUH4DF7_yAQ6jv&amp;list=PLRnMvTnIta9hl00UjNXcaWurdveffKZj6" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h3 class="videos-card-title">
            Acting Videos Instagram </h3>
    </div>
    <div class="videos-card">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/videoseries?si=IT9FCEqGj2NBOtME&amp;list=PLRnMvTnIta9h8qHGAw4Z-xdEUDM6mKgNy" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>
        <h3 class="videos-card-title">
            Dance Videos</h3>
    </div>
    <div class="videos-card">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/videoseries?si=TwqNHCsfJOb20yO5&amp;list=PLRnMvTnIta9iyENDnSjHjn5BzvnIezGtO" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>
        <h3 class="videos-card-title">
            Shorts Videos</h3>
    </div>
    <div class="videos-card">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/videoseries?si=CLqsI5ZaEJG-mF6a&amp;list=PLRnMvTnIta9j7zriL7tztIznetEi_gPM0" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>
        <h3 class="videos-card-title">
            Puri Tour Blog</h3>
    </div>
    <div class="videos-card">
        <iframe width="90%" height="315" src="https://www.youtube.com/embed/videoseries?si=t1HtugR7aO1WuyDm&amp;list=PLRnMvTnIta9imiQwsSmfnC8S3NKpdsS-j" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen loading="lazy"></iframe>
        <h3 class="videos-card-title">
            Banaras- Kashi Vlog</h3>
    </div>
</div>
<div class="carosoul-left direction"><i class="bi bi-arrow-left-circle"></i></div>
<div class="carosoul-right direction"><i class="bi bi-arrow-right-circle"></i></div>
  </div>
</section>
<!-- playlist Videos ends here  -->

 </main>

 <script>

    function slider(name,length) {
        let len =length;
    let prev = document.querySelector(`.${name} .carosoul-left` );
    let nxt = document.querySelector(`.${name} .carosoul-right` );
    let vidsec = document.querySelector(`.${name} .videos-section`);
    let current=0;
    
    nxt.addEventListener("click",(e)=>{
        console.log("hello");
        current=(current<len-3)?++current:0;
        console.log(current);
         vidsec.style.transform=`translateX(${-375.6*current}px)`;
       

    });
    prev.addEventListener("click",(e)=>{
       
        current=(current>len-2)?--current:len;
        console.log(current);
        vidsec.style.transform=`translateX(${-375.6*(current-3)}px)`;
    });

    }
   
 
        slider("carousel-1", 6);
        slider("carousel-3",5 );
        slider("carousel-4", 6);

        function name(params) {
            console.log("name");
            
        }
        name();
  







 </script>




<%-include('partials/footer.ejs') %>