/* fonts */


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* variables */
:root{
    --primary-text-color:rgb(45, 43, 43);
    --secondary-text-color:rgb(191, 184, 184);
    --primary-bg-color:rgb(189, 182, 182);
    --secondary-bg-color:rgb(27, 26, 26);
    --transparent-bg-color:rgba(255, 255, 255, 0);
    --transparent-hover-bg-color:rgba(255, 255, 255, 0.3);
}

html{
    scroll-behavior: smooth;
   

}

li{
    display: block;
    
}
img{
    width:100%;
    border-radius: 50%;
    display: block;
}
a{
    text-decoration: none;
    color: var(--secondary-text-color);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}



header{

    background-image: url("/images/bg-2-min.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.82);
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    background-blend-mode:darken ;
    
    
    
}

.d-flex{
    display: flex;
}
.btn{
    padding:0.5rem;
     border-radius: 0.8rem;
    font-family: "Raleway", sans-serif;
   
    width:8rem;
    display: inline-block;
    text-align: center;
    box-shadow: 1px 1px 1px 0px rgb(71, 15, 17);
    margin-left: 1rem;
    animation: all 0.3s;
 
}

.btn:hover{
    color:var(--secondary-text-color);
    background-color: transparent;
}
.btn-2{
    background-color: rgb(134, 35, 35);
    color: var(--secondary-text-color);
}
.btn-1:hover{
    background-color: rgb(134, 35, 35);
    color: var(--secondary-text-color);
}
    


/* large screen Navigation */
.logo-box{
    width:8rem;
    border-radius: 50%;
    
}

.toggle-button{
    display: inline-block;
    width:4rem;
    font-size: 2rem;
    font-weight: bold ;
    color: var(--secondary-text-color);
   
}
.navMenu{
    display: none;
    position: absolute;
    top: 48px;
    right:0;
    transition: all 0.5s linear ;
    opacity:0;
    z-index: 999;
 
    
}
 .navBar{
    

    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding:0.5rem 0.8rem;
   
    width:100%;
    background-color: var(--transparent-bg-color);
   
}

/* responsive  nav bar */
.close-button{
    display: none;
}
.open{
    display: block ;
}
.nav-mobile{
    display: block;
    padding-top: 1rem;
    position: absolute;
    top:5rem;
    
    width:100vw;
    opacity:1;
   
  background-color: var(--transparent-bg-color);
 
}

.nav-mobile .nav-items{
    padding: 0.5rem 0.8rem;
    font-size: 100%;
    text-align: right;
}
.nav-mobile .nav-items:hover{
    padding-right:1.2rem;
    text-decoration: underline;
    color: var(--secondary-text-color);
    background-color: var(--transparent-hover-bg-color);
    
}

.close{
    display: none;
}



/* hero section */
.hero-section{
    color: var(--secondary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    margin:auto auto;
    flex-direction: column;
    height: calc(97.5vh -  48px);
    background-color: var(--transparent-bg-color);
}
.hero-text h3{
   
    animation: translatemotion 1s linear 0ms 1 backwards;
}
.hero-text h2{
    font-size: 3rem;
    margin:0.2rem ;
    color: yellow;
    animation: translatemotion 1s linear 1s 1 backwards;
}
.hero-text p{
    line-height: 1.6;
    word-spacing: 0.2rem;
    font-family: "Roboto",sans-serif;
    font-style: normal;
    margin:1.3rem 0;
    animation: translatemotion 2s linear 2.5s 1 backwards;
}
.btn-group{
    animation: show 1s linear 5s 1 backwards;
}

@media screen and (min-width:1000px) {
    
    .close-button{
        display: none;
    }
    .open-button{
        display: none;
    }
  
    .navMenu{
            display: flex;
           position: static;
            width:50%;
            justify-content: space-around;
            opacity: 1;
           
           
            
        
    }
    .nav-items a{
       padding:0.5rem;
        transition: all 0.2s;
        border-radius: 0.3rem;
    }
    .nav-items a:hover{
        text-decoration: underline red;
        background-color: var(--transparent-hover-bg-color);
        font-size: 110%;
        color:green;
        
    }
    .hero-section{
        width:50%;
    }

}






/* animation */

@keyframes translatemotion{
    0%{
        transform: translateX(-150%);
    }
    25%{
        transform:translateX(-100%);
    }
    50%{
        transform:translateX(-50%);
    }
    75%{
        transform:translateX(20%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}
 
