.navBar{
    background-color: rgb(20, 19, 19);
    box-shadow:  1px 1px 1px 1px rgba(9, 9, 9, 0.925);
    position: fixed !important;
    top:0;
    left: 0;
    z-index: 999;

}
body{
    background-color: rgb(20, 19, 19);
    color: beige;
}
.nav-mobile{
  
   
   
  background-color: rgb(20, 19, 19);
  padding-bottom: 2rem;
  box-shadow: 1px 1px 1px 1px rgba(9, 9, 9, 0.925);
 
}

/* youtube  creations */
.img-yt-img{
    width:6rem;
   border-radius: 50%;
   
}
.yt-intro-text{
    flex-direction: column;
    width:60%;
}
.yt-intro-text h1{
    font-family: "roboto";
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.4rem;
}
.section-center{
    width:90%;
    margin: 1.5rem auto;
}
.section-title{
    font-family: "roboto";
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.4rem;
    text-align: left;
}
@media screen and (min-width: 768px){
    .section-title{
         font-size: 2rem;
     }
    
}
.youtube-intro{
    justify-content: center;
    gap:0.5rem;
    border-bottom: 3px solid rgba(9, 9, 9, 0.925);
    padding:2rem 0.3rem;

}
.subscribe-btn{
    margin-top: 2rem;
    width:9rem;
    font-size: 1rem;
}
.videos-section{
  
 
   
  
    margin-bottom: 2rem;
    
    padding: 1rem 0.3rem;
}
.videos-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    width:90%;
    min-width:270px;
    max-width: 400px;
    margin: 2rem 0.8rem;
    box-shadow: 1px 1px 1px 1px rgba(9, 9, 9, 0.925);
    padding: 2rem 0.3rem;
   
}
.videos-card-title{
    margin-top: 0.5rem;
    font-size: 1rem;
    font-family: "roboto", "Helvetica Neue";
    text-align: center;
}


iframe{
    border-top-left-radius:1rem ;
    border-top-right-radius: 1rem;
}


.direction{
    position: absolute;
    color: white;
    font-size: 3rem;
    transform: translateY(-50%);
 opacity: 0;
 transition: all 0.3s linear;
        
}
.carosoul-left{
    left: 4%;
    top:50%;
}
.carosoul-right{
   right: 4%;
    top:50%;
}

/* youtube section responsive */
   
@media screen and (min-width:500px){
    .videos-section{
        display: grid;
        grid-template-columns: repeat(
            auto-fit, minmax(340px, 1fr));
            justify-content: center;
            width: 100%;
    }
    
    .section-title, .load-more-btn{
       grid-column: 1/-1;
    }
    
    .load-more-btn{
        text-align: center;
    }
   
    
    .img-yt-img {
        width: 10rem;
      
       
    }
    
}
.main-carousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* carosuel effect */
@media screen and (min-width:1180px){
    .section-title{
        text-align: center !important;
    }
    .videos-section{
        display:inline-flex ;
        justify-content: flex-start;
   
       
       
    }
    .main-carousel{
        width: 1141.91px;
        position: relative;
        margin: auto;
            
        overflow: hidden;
    }
   
    .load-more-btn{
        display: none;
    }
    .videos-card{
        flex: 0 0 350px;
    }
   .main-carousel:hover .direction{
    opacity: 1;
   }
   .main-carousel:hover .carosoul-left{
    left: 0;
   }
   .main-carousel:hover .carosoul-right{
    right: 0;
   }

}
    




/* footer */
.main-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:1000px;
    margin:auto;
}
.main-footer nav{
    width:100%
}
.main-footer nav ul{
    display: flex;
    justify-content: space-around;
}

.main-footer nav ul li a{
    
    font-size: 0.5rem;
}
.main-footer nav ul li a:hover{
  
    font-size: 0.6rem;
}
.social-menu{
    width: 80%;
}
.social-menu ul{
    width:80%;
    display: flex;
    justify-content: space-around;
}
.social-menu ul li{
    transition: all 0.4s;
}
.social-menu ul li:hover,.social-menu ul li a:hover{
    transform: scale(1.5);
    color: red;
    
}
.subscribe-email-form  form input{
    border:transparent ;
    outline: none;
    padding: 1rem;
    padding: 0.5rem;
    border-radius: 0.7rem;
    box-shadow: none;
}
.subscribe-email-form .btn{
    width:5rem;
}
.copyright{
    font-size: 0.7rem;
    padding-bottom: 0.3rem;
}
.copyright a{
    color: red;
}
footer{
    border-top: 2px solid rgba(14, 14, 14, 0.801);
}

.chatnow{
    position: fixed;
    bottom:4rem;
    right:0;
    padding: 5px;
    width:4rem;
    animation: big-small 2s linear 0ms infinite alternate-reverse;

}
#feedback{
    color:red;
}
@media screen and (min-width:500px){
    
    .main-footer nav ul li a,.social-menu a{

        font-size: 1rem;
       
    }
    .main-footer nav ul li a:hover{

        font-size: 1.2rem;
    }
    
}
@media screen and (min-width:1000px) {
    .main-footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
    .logo-box{
        grid-row: 1/2;
        width: 10rem;

    }
    .subscribe-email-form{
        grid-column: 2/-1;
    }
    .subscribe-email-form form input {
       
        padding: 0.5rem 2rem;
        border-radius: 0.7rem;
       
    }
    .subscribe-email-form .btn {
        width: 12rem;
        padding: 0.2rem;
    }
    .main-footer nav{
        grid-row: 2;
        grid-column: 2/-1;

    }
    
    
    .socila-menu{
        grid-row: 3;
        grid-column: 3;
grid-column: 2/-1;

    }
    .social-menu a{
        font-size: 1.2rem;
    }
    .copyright{
        grid-row: 4;
        grid-column: 1/-1;
        text-align: center;
        font-size: 1rem;
    }
    
}

@keyframes big-small {
    0%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(1.1);
    }
    
}

/* contact page */
#formResponse {
    margin-top: 20px;
    text-align: center;
    color: green;
}
.interactive-title {
    margin: 1rem 0;
    font-size: 1.5em;
    transition:all 0.2s;
    text-align: center;
}

.interactive-title:hover {
    font-size: 2rem;
}

.wrapper{
    padding: 20px;
    max-width: 800px;
    margin: auto;
   
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
}


.contact-form {
    
    padding:1.8rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(22, 22, 22, 0.774);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
.contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width:650px;
}
.contact-form form button {
    width:70%;
}
.contact-form form button:hover{
    color:white;
    font-weight: bold;
}
label {
    display: block;
    margin: 10px 0 5px;
    text-align: start;
    width: 100%;
}

.contact-form input,.contact-form  textarea {
  
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
@media screen and (min-width:500px){
    .interactive-title {
  
        font-size: 2rem;
       
    }
    
    .interactive-title:hover {
        font-size: 2.8rem;
    }
    .contact-info p,label,.contact-form form button{
        font-size: 1.15rem;
    }
    
}


/* homepage */
.hero-home-page{
    align-items: center;
    justify-content: space-between;
    
}
.hero-home-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
.home-hero-text{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.home-hero-text p{
    color: red;
}
.hero-home-img{
    background-image: url("/images/homepage-hero-img-bg.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:300px;
    background-color: rgba(20, 20, 20, 0.7);
    background-blend-mode: darken;
}

.skill-section{
    background-color: rgba(24, 23, 23, 0.819);
    padding: 2rem;
}
.card-box{
     display: grid !important;
        grid-template-columns: repeat(
                auto-fit, minmax(400px, 1fr));
                justify-content: center;
                gap:2.5rem;
                place-items: center;
        }


/* skill card */
.skill-card{
    max-width: 500px;
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    gap:0.3rem;
    padding: 2rem 0.4rem;
    background-color: rgb(42, 40, 40);
    box-shadow: 2px 2px 2px 1px black;
    border-radius: 2rem;
    margin-bottom: 2rem;
    transition: all 0.5s;
    cursor: pointer;
    min-height:400px;

}
.skill-card:hover{
    transform: scale(1.04);
}
.skill-card-title{
    font-family: "roboto",sans-serif;
    font-size: 1.6rem;
    padding-left: 2rem;
    color: red;

}
.skill-card-text{
    font-size: 1.2rem;
    line-height: 1.2;
    text-align: justify;
    padding: 1rem;
}
.skill-icons{
    font-size: 2rem;
    color: red;
}

@media screen and (min-width:700px) {
    .hero-home-img{
        background-image: none;
        background: linear-gradient(to right, #000, #333);
                overflow: hidden;
                position: relative;
    }
   .home-hero-text h1{
    font-size: 2.2rem;
   }
   
    .bubble {
        position: absolute;
        bottom: -50%;
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 50%;
        opacity: 0.8;
        animation: rise 10s infinite ease-in-out;
    }
    .bubble:nth-child(1) {
        left: 10%;
        animation-duration: 12s;
        animation-delay: 1s;
        width: 20px;
        height: 20px;
    }

    .bubble:nth-child(2) {
        left: 15%;
        animation-duration: 15s;
        animation-delay: 3s;
        width: 30px;
        height: 30px;
    }

    .bubble:nth-child(3) {
        left: 30%;
        animation-duration: 10s;
        animation-delay: 5s;
        width: 25px;
        height: 25px;
    }

    .bubble:nth-child(4) {
        left: 40%;
        animation-duration: 18s;
        animation-delay: 2s;
        width: 35px;
        height: 35px;
    }

    .bubble:nth-child(5) {
        left: 45%;
        animation-duration: 14s;
        animation-delay: 4s;
        width: 40px;
        height: 40px;
    }

    .bubble:nth-child(6) {
        left: 55%;
        animation-duration: 20s;
        animation-delay: 6s;
        width: 50px;
        height: 50px;
    }
    .bubble:nth-child(7) {
        left: 60%;
        animation-duration: 5s;
        animation-delay: 9s;
        width: 10px;
        height: 10px;
    }
    .bubble:nth-child(8) {
        left: 90%;
        animation-duration: 30s;
        animation-delay: 3s;
        width: 30px;
        height: 30px;
    }
    .bubble:nth-child(9) {
        left: -20%;
        animation-duration: 2s;
        animation-delay: 8s;
        width: 15px;
        height: 15px;
    }


    /* gallery */
    .photo-gallery{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .gallery-title{
        font-size: 4rem;
        padding: 1rem 0.5rem;
    }
   
}

@keyframes rise {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0.8;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh) scale(1.2);
        opacity: 0;
    }
}


/* gallery */
.img-container {
    object-fit: cover;
    position: relative;
    transition: all 0.5s;

}

.img-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s;
    opacity: 1;
    z-index: 2;

}
.img-container:hover ,.img-container:active{
    
    transform: scale3d(1.1);
}

.img-container:hover::before ,.img-container:active::before{
    opacity: 0;
    z-index: -1;
    transform: scale(1.1);
}
.img-container img{
    width: 100%;
    height: 100%;
    border-radius: 0;
}
@media screen and (min-width:1000px){
    .photo-gallery{
     
        grid-template-columns: repeat(4,1fr);
    }
   
}

/* about page */
.about-img-container{
    width:12rem;
}
.main-content{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    
}
.about-text-body
{
    color: #ccc;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    padding: 2rem;
}
.circle-box-collection {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 1rem ;
    justify-content:center ;
}
.circle-box-collection div{
    width:6.5rem;
    height:6.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.circle-box-collection div:nth-child(1){
    background-color: rgb(68, 68, 17);
}
.circle-box-collection div:nth-child(2){
    background-color: rgb(143, 13, 13);
}
.circle-box-collection div:nth-child(3){
    background-color: rgb(19, 176, 21);
}
.circle-box-collection div:nth-child(4){
    background-color: rgb(7, 72, 175);
}
@media screen and (min-width:800px) {
    .main-content{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap:0.2rem;
        max-width:900px;
    }
    .about-img-container{
        grid-column: 1;
        align-self: center;
        justify-self: end;
        width: 17rem;
    }
    .about-text-body{
        grid-column: 2/-1;
    }
    .circle-box-collection{
        grid-row:2;
        grid-column: 2/-1;
        gap: 1rem;
    }
   .about-text-body h5{
        font-size: 1.7rem;
    }
    .about-text-body p{
        font-size: 1.3rem;
    }
}
.education-card{
   display: flex;
  flex-direction: column;
   
   justify-content: center;
   align-items: center;
   width:300px;
   background-color: #ccc;
   color: #000;
   margin-bottom: 1rem;
   border-radius:2rem;
   padding: 1rem;
}
.edu-img-container{
    width:50%;
   
    
}
.education-section{
    background-color: #221f1f;
    padding: 1rem 0.5rem;
}
.education-card-box{
    max-width:1100px;
    padding: 1rem;
    display: flex;
    flex-wrap:wrap ;
    gap:1rem;
}






